<%- include('../layouts/header') %>
    <div class="container">
        <h1>Classes</h1>
        <a href="/aad/add"><i class="fas fa-plus-circle"></i>       Add new class</a>

        <h3>Total of classes: <%= n_courses %>
        </h3>

        <table class="table">
            <thead>
                <th>Class</th>
                <th>Description</th>
                <th>Created By</th>
            </thead>
            <tbody>
                <% courses.forEach(course=> { %>
                    <tr>
                        <td>
                            <a href="/course/c/<%= course.id %>">
                                <%= course.name %>
                            </a>
                        </td>
                        <td>
                            <%= course.description %>
                        </td>
                        <td>
                            <%= course.createdBy.name %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        

    </div>

    

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <br>




    <%- include('../layouts/footer') %>