<%- include('../layouts/header') %> 

<h1>Courses</h1>
<li class="header__navbar-item"><a href="/aad/add">Add new course</a></li>


<table class="table">
    <thead>
        <th>ID</th>
        <th>Category</th>
        <th>Description</th>
    </thead>
    <tbody>
        <% courses.forEach(course => { %>
            <tr>
                <td>
                    <%= course.id %>
                </td>
                <td>
                    <a href="/course/c/<%= course.id %>">
                    <%= course.name %>
                    </a>
                </td>
                <td>
                    <%= course.description %>
                </td>                
            </tr>
            <% }) %>
    </tbody>
</table>



<%- include('../layouts/footer') %> 