<%- include('../layouts/header') %> 

<h1>Courses</h1>
<li class="header__navbar-item"><a href="/aad/add">Add new course</a></li>

<h3>Total of courses: <%= n_courses %> </h3>

<table class="table">
    <thead>
        <th>ID</th>
        <th>Course</th>
        <th>Description</th>
        <th>Created By</th>
    </thead>
    <tbody>
        <% courses.forEach(course => { %>
            <tr>
                <td>
                    <%= course.id %>
                </td>
                <td>
                    <a href="/course/c/<%= course.id %>">
                    <%= course.name %>
                    </a>
                </td>
                <td>
                    <%= course.description %>
                </td>  
                <td>
                    <%= course.createdBy.name %> 
                </td>              
            </tr>
            <% }) %>
    </tbody>
</table>



<%- include('../layouts/footer') %> 