<%- include('../layouts/header') %> 

<h1><%= crs.name %> </h1>
<div class="profile">
  <div>
    <p class="title">Description</p>
    <p class="subtitle"> <%= crs.description %>  </p>
  </div>
</div>

<a href="/course/c/<%= crs.id %>/m">Create new materials</a>
<br>
<a href="/course/c/<%= crs.id %>/m/all">All materials</a>
<%- include('../layouts/footer') %> 