<%- include('../layouts/header') %>

    <h1>Manage Users</h1>

    <h3>Total of user: <%= n_users %> </h3>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Email</th>
            <th>Role</th>
            <th>Update Role</th>
        </thead>
        <tbody>
            <% users.forEach(user=> { %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <a href="/admin/user/<%= user.id %>">
                            <%= user.email %>
                        </a>
                    </td>
                    <td>
                        <%= user.role %>
                    </td>
                    <td>
                        <form action="/admin/update-role" method="post">
                            <input type="hidden" name="id" value="<%= user.id %>">
                            <select name="role" id="role">
                                <option value="AAD">Academic Affair Department</option>
                                <option value="TEACHER">Teacher</option>
                                <option value="STUDENT">Student</option>
                            </select>
                            <input type="submit" value="Update">
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="/admin/user/<%= user.id %> " enctype="application/x-www-form-urlencoded">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>

    <%- include('../layouts/footer') %>