<%- include('../layouts/header') %>


  <div class="container-sm">
    <h1><span class="goback" onclick="window.history.back()"></span> Profile </h1>

    <div class="profile">
      <div>
        <h5>Name</h5>
        <p class="subtitle">
          <%= person.name %>
        </p>
      </div>
      <div>
        <h5>Email</h5>
        <p class="subtitle">
          <%= person.email %>
        </p>
      </div>
      <div>
        <h5>Role</h5>
        <p class="subtitle">
          <%= person.role %>
        </p>
      </div>
      <div>
        <h5>Date of Birth</h5>
        <p class="subtitle">
          <%= person.date_of_birth %>
        </p>
      </div>
      <div>
        <h5>Phone Number</h5>
        <p class="subtitle">
          <%= person.phone %>
        </p>
      </div>
      <div>
        <h5>Address</h5>
        <p class="subtitle">
          <%= person.address %>
        </p>
      </div>

    </div>
  </div>


  <%- include('../layouts/footer') %>