<%- include('../layouts/header') %> 


<h1>Materials</h1>


<table class="table">
    <thead>
        <th>ID</th>
        <th>Material</th>
        <th>Description</th>
    </thead>
    <tbody>
        <% material.forEach(mtr => { %>
            <tr>
                <td>
                    <%= mtr.id %>
                </td>
                <td>
                    <a href="/course/c/<%= course.id %> /m/<%= mtr.id %>">
                    <%= mtr.name %>
                    </a>
                </td>
                <td>
                    <%= mtr.description %>
                </td>              
            </tr>
            <% }) %>
    </tbody>
</table>




<%- include('../layouts/footer') %> 