<%- include('../layouts/header') %>


    <div class="container">
        <h1>Materials</h1>


        <table class="table">
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Material URL</th>
            </thead>
            <tbody>
                <% materials.forEach(mtr=> { %>
                    <tr>
                        <td>
                            <a href="/course/c/<%= course.id %>/m/<%= mtr.id %>">
                                <%= mtr.name %>
                            </a>
                        </td>
                        <td>
                            <%= mtr.description %>
                        </td>
                        <td>
                            <a href="<%= mtr.cloudinary_url %>"> View Materials </a>
                        </td>

                    </tr>
                    <% }) %>
            </tbody>
        </table>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



    <%- include('../layouts/footer') %>