<%- include('../layouts/header') %>

  <div class="container">
    <!-- Info -->
    <h1>
      <%= mtr.name %>
    </h1>

      <div>
        <div>
          <p class="subtitle">
            Description: 
            <%= mtr.description %>
          </p>
        </div>
        <div>
          <p class="subtitle">
            <a href="<%= mtr.cloudinary_url %>"><%= mtr.cloudinary_url %></a>
          </p>
        </div>
      </div>
    

    <!--Test-->

    <!--Test-->

    <br>
    <br>
    <br>
    <br>

    <!-- Comment section -->


    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include('../layouts/footer') %>