

<%- include('../layouts/header') %>


    <div class="container">
        <h1>Assignments</h1>


        <table class="table">
            <thead>
                <th>Name</th>
                <th>Deadline</th>
                <th>Due Date</th>
                <th>Assignment URL</th>
            </thead>
            <tbody>
                <% assignments.forEach(asm=> { %>
                    <tr>
                        <td>
                            <a href="/course/c/<%= course.id %>/a/<%= asm.id %>">
                                <%= asm.name %>
                            </a>
                        </td>
                        <td>
                            <%= asm.setDeadlineDate %>
                        </td>
                        <td>
                            <%= asm.setDueDate %>
                        </td>
                        <td>
                            <a href="<%= asm.cloudinary_url %>"><%= asm.cloudinary_url %></a>
                        </td>

                    </tr>
                    <% }) %>
            </tbody>
        </table>

    </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<%- include('../layouts/footer') %> 