<%- include('../layouts/header') %>

  <div class="container">
    <!-- Info -->
    <div class="spe-asm">
      <h1>
        <%= asm.name %>
      </h1>
    </div>
    
    <form class="lg-form">
      <div>
        <p class="subtitle">
          <%= asm.description %>
        </p>
      </div>
      <div>
        <p class="subtitle">
          <%= asm.cloudinary_url %>
        </p>
      </div>
      <div>
        <p class="subtitle">
          Due Date: <%= asm.setDueDate %>
        </p>
      </div>
    </form>
      

    <!--Upload works-->
    <h3>Submit Your Works Here</h3>

    <form action="/course/c/<%= course.id %>/a/<%= asm.id %>" method="POST" enctype="multipart/form-data" class="lg-form-sms">
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Enter the title">
      </div>
      <div>
        <label for="description">Description</label>
        <input type="text" id="description" name="description" placeholder="Some description...">
      </div>
      <div>
        <label>Choose files to upload</label>
        <input type="file" name="image" multiple>
      </div>
      <div>
        <input type="submit" value="Upload">
      </div>
    </form>
    
    <!--Upload works-->

    <br>
    <br>
    <br>
    <br>
    <a href="/course/c/<%= course.id %>/a/<%= asm.id %>/submissions"><i class="fas fa-file-upload"></i>  View all submissions</a>
    
    <!-- Comment section -->


    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include('../layouts/footer') %>