<%- include('../layouts/header') %> 

<h1><%= cat.name %> </h1>
<div class="profile">
  <div>
    <p class="title">Description</p>
    <p class="subtitle"> <%= cat.description %>  </p>
  </div>
</div>


<a href="/aad/category/<%= cat._id %>/create">Create Courses</a>
<br> 
<a href="/aad/category/<%= cat._id %>/courses">All Courses</a>
 
  


<%- include('../layouts/footer') %> 